body{
    background-color: rgb(245, 244, 244);
    
    background-image: url('nature-forest-trees-fog-4827.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    
    
    padding-top: 10px;
    width: 100%;
    height: 170px;
    
}

.before#loginAttempt{
    
    position: absolute;;
    left: 5%;
}

.before#newUser{
    
    position: absolute;;
    left: 30%;
}

h1{
    
    position: absolute;;
    left: 55%;
}

.content {
    
    display: grid;
    width: 100%;
    height: 680px;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    position: absolute;
}

.content .after{
    
    position: relative;
    margin-left:20px;
}

.content .calendar{
    
    position: relative;
    width: 1400px;
}

#preBtn {
    position: absolute;
    left:10%;
}

#nextBtn {
    position: absolute;
    margin-left:80%;
}
#month {
    position: absolute;
    margin-left:45%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(255,255,255,0.5);;
}

th{
        width: 100px;
        border: 1px solid black;
        border-radius: 2px;
        font-family: Helvetica;

}
td{
        border: 1px solid black;
        border-radius: 2px;
        height: 100px;
        vertical-align: top;
}

.cell {
	font-family: Helvetica;
}

#guide ul{
    list-style-type: none;
}

#guide li{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

#startbtn{
    color: white;
    text-align: center;
    padding-right:16px;
    padding-left:16px;
    height:30px;
    text-decoration: none;
    color: #c2c2c2;
    background-color:  #454243;
    left: 30px;
}

#startbtn:hover{
    text-decoration: none !important;
    color: white;
}

button{
    color: white;
    text-align: center;
    padding-right:16px;
    padding-left:16px;
    height:30px;
    text-decoration: none;
    color: #c2c2c2;
    background-color:  #454243;
    left: 30px;
}
